<!DOCTYPE html>
<html>
  <head>
    <title>BidUp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('bidupfavicon.png') %>
    <meta property="og:title" content="BidUp">
    <meta property="og:image" content="<%= image_url('splash1.png') %>">
    <meta property="og:description" content="BidUp, an OfferUp clone, is an online marketplace that is primarily focused on in-person transactions. Users can either be buyers or sellers, and includes a system allowing users to submit/receive bids, and also provide ratings/reviews.">
    <meta property="og:url" content="https://bid-up.herokuapp.com/#/">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6CBPE55S7T"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-6CBPE55S7T');
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
