<!DOCTYPE html>
<html>
  <head>
    <title>BidUp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('bidupfavicon.png') %>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6CBPE55S7T"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-6CBPE55S7T');
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
